/* ******************************
*  Stylesheet for Screened Devices
*  Created by: Aaron Jones
*  
*  1.  Includes (fonts and supplementary stylesheets)
*  1.1 Normalize
*  1.2 Google fonts
*
*  2.  General Styles (for all pages and devices)
*
*  3.  Mobile First (styles specific to small screens)
*
*  4.  Large Screen Styles (Media Queries begin here)
*
* ****************************** */

/* 1.  Includes (fonts and supplementary stylesheets) */
/* 1.1 Normalize Import */
@import url("normalize.css");
/* 1.2 Google Font Import */
@import url("https://fonts.googleapis.com/css?family=Sansita");

/*2.   General Styles (for all pages and devices) */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: "Quantico", sans-serif;
}

/*3.  Mobile First (styles specific to small screens) */

#wrapper {
    background-color: white;
    padding: 5px;
}

#login {
    color: #3a3a3a;
    text-decoration: none;
    font-size: 20px;
    position: absolute;
    top: 30px;
    right: 30px;
}

#User {
    color: #3a3a3a;
    text-decoration: none;
    font-size: 20px;
    position: absolute;
    top: 30px;
    right: 100px;
}

#logout {
    color: #3a3a3a;
    text-decoration: none;
    font-size: 20px;
    position: absolute;
    top: 30px;
    right: 30px;
}

#logo {
    padding: 5px;
    height: 90px;
}

header p {
    float: right;
    padding-right: 20px;
}

header p a {
    text-decoration: none;
    color: #3a3a3a;
}

header {
    background-color: white;
}

#page_nav ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0px;
    overflow: hidden;
    background-color: #3a3a3a;
}

#page_nav li {
    float: left;
}

#page_nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 8px 8px 8px 5px;
    text-decoration: none;
}

/* mouse over link */
#page_nav a:hover {
    background-color: white;
    color: #3a3a3a;
}

#content {
    font-size: 20px;
    font-weight: lighter;
}

#align {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: unset;
    padding: unset;
    margin: unset;
}

label {
    font-size: 20px;
}

input {
    width: 150px;
    margin-bottom: 10px;
}

#regbtn {
    font-size: 20px;
    background-color: #4c96d7;
    border-width: 1px;
    margin: unset;
}

#line-break {
    border-top: 3px solid black;
    margin-top: 0px;
}

footer {
    text-align: center;
}

footer p {
    margin: 0px 15px 0px 15px;
}

#update {
    margin-bottom: 10px;
}


/*4.  Large Screen Styles (Media Queries begin here) */
@media only screen and (min-width: 700px) {
    body {
        background-image: url(../images/site/small_check.jpg);
        position: relative;
        border: 5px solid #4c96d7;
        margin-left: auto;
        margin-right: auto;
        width: 75%;
        border-radius: 5px;
        margin-top: 2%;
    }

    #wrapper {
        padding: 10px;
    }

    #page_nav li {
        font-size: 20px;
    }

    #page_nav a {
        padding: 8px 8px 8px 20px;
    }

    #content {
        font-size: 30px;
    }

    footer p {
        font-size: 15px;
    }

    #update {
        margin-bottom: 0px;
        padding-bottom: 2%;
    }

}