/* ******************************
*  Stylesheet for Screened Devices
*  Created by: Aaron Jones
*  
*  1.  Includes (fonts and supplementary stylesheets)
*  1.1 Normalize
*  1.2 Google fonts
*
*  2.  General Styles (for all pages and devices)
*
*  3.  Mobile First (styles specific to small screens)
*
*  4.  Large Screen Styles (Media Queries begin here)
*
* ****************************** */

/* 1.  Includes (fonts and supplementary stylesheets) */
/* 1.1 Normalize Import */
@import url("normalize.css");
/* 1.2 Google Font Import */
@import url("https://fonts.googleapis.com/css?family=Sansita");

/*2.   General Styles (for all pages and devices) */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: "Quantico", sans-serif;
    padding: 0;
    margin: 0;
}

/*3.  Mobile First (styles specific to small screens) */

#wrapper {
    background-color: white;
}

#login {
    color: #3a3a3a;
    text-decoration: none;
    font-size: 1.3rem;
    position: absolute;
    top: 30px;
    right: 30px;
}

#User {
    color: #3a3a3a;
    text-decoration: none;
    font-size: 1.3rem;
    position: absolute;
    top: 30px;
    right: 100px;
}

#logout {
    color: #3a3a3a;
    text-decoration: none;
    font-size: 1.3rem;
    position: absolute;
    top: 30px;
    right: 30px;
}

#logo {
    padding-bottom: 10px;
}

header p {
    float: right;
    padding-right: 20px;
}

header p a {
    text-decoration: none;
    color: #3a3a3a;
}

header {
    background-color: white;
}

nav {
    overflow: hidden;
    background-color: #3a3a3a;
}

#pages {
    padding: 0;
    margin: 0;
}

nav ul li {
    float: left;
    display: block;
    list-style: none;
    text-align: center;
    padding: 10px;
    font-size: 14px;
}

#pages li a {
    color: #ffffff;
    text-decoration: none;
}

/* mouse over link */
#pages li:hover {
    background-color: #ffffff;
}

#pages li a:active {
    color: #3a3a3a;
}

#content {
    margin-left: 10px;
}

#errorM {
    font-size: 17px;
    margin-left: 20px;
}

#line-break {
    border-top: 3px solid black;
    margin-top: 15px;
}

footer {
    text-align: center;
}

footer p {
    margin: 0px 15px 0px 15px;
}

#update {
    margin-bottom: 10px;
}


/*4.  Large Screen Styles (Media Queries begin here) */
@media only screen and (min-width: 700px) {
    body {
        background-image: url(../images/site/small_check.jpg);
        position: relative;
        border: 5px solid #4c96d7;
        margin-left: auto;
        margin-right: auto;
        width: 75%;
        border-radius: 5px;
        margin-top: 2%;
    }

    nav ul li {
        font-size: 20px;
    }

    footer p {
        font-size: 15px;
    }

    #update {
        margin-bottom: 0px;
        padding-bottom: 2%;
    }

}