/* ******************************
*  Stylesheet for Screened Devices
*  Created by: Aaron Jones
*  
*  1.  Includes (fonts and supplementary stylesheets)
*  1.1 Normalize
*  1.2 Google fonts
*
*  2.  General Styles (for all pages and devices)
*
*  3.  Mobile First (styles specific to small screens)
*
*  4.  Large Screen Styles (Media Queries begin here)
*
* ****************************** */

/* 1.  Includes (fonts and supplementary stylesheets) */
/* 1.1 Normalize Import */
@import url("normalize.css");
/* 1.2 Google Font Import */
@import url("https://fonts.googleapis.com/css?family=Sansita");
/*2.   General Styles (for all pages and devices) */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.button1 {
  display: none;
}

body {
  font-family: "Quantico", sans-serif;
  padding: 0;
  margin: 0;
}

/*3.  Mobile First (styles specific to small screens) */

#wrapper {
  background-color: white;
}

#acc {
  color: #3a3a3a;
  text-decoration: auto;
  font-size: 20px;
  position: absolute;
  top: 30px;
  right: 30px;
}

#logo {
  padding: 5px;
  height: 90px;
}

header p {
  float: right;
  padding-right: 20px;
}

header p a {
  text-decoration: none;
  color: #3a3a3a;
}

header {
  background-color: white;
}

nav {
  overflow: hidden;
  background-color: #3a3a3a;
}

#pages { 
  padding: 0;
  margin: 0;
}

nav ul li {
  float: left;
  display: block;
  list-style: none;
  text-align: center;
  padding: 10px;
  font-size: 14px;
}

#pages li a {
  color: #ffffff;
  text-decoration: none;
}

/* mouse over link */
#pages li:hover {
  background-color: #ffffff;
}

#pages li a:active {
  color: #3a3a3a;
}

.topdiv {
  float: left;
  color: #4c96d7;
  margin-left: 30px;
  position: absolute;
}

.topdiv p,
.topdiv h2 {
  padding: 0;
  margin: 0;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

img.delorean {
  width: 100%;
  padding-top: 2%;
}

.button2 {
  background: #4c96d7;
  border-bottom-style: none;
  position: relative;
  width: 200px;
  height: 60px;
  font-size: 25px;
  left: 25%;
  margin-top: 35px;
}

#reviews ul {
  line-height: 2.6;
}

#upgrades ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0px;
  text-align: center;
}

#upgrades img {
  background-color: #4c96d7;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}

#upgrades ul li {
  width: 50%;
}

#fluxCap {
  padding: 10px 72px 17px 72px;
}

#flames {
  padding: 10px 72px 0px 72px;
}

#sticker {
  padding: 10px 72px 28px 72px;
}

#hubCap {
  padding: 10px 72px 20px 72px;
}

#upgrades div {
  text-decoration: underline;
  color: blue;
}

#flux {
  margin-bottom: 40px;
}

#line-break {
  border-top: 3px solid black;
  margin-top: 35px;
}

footer {
  font-size: 2.9vw;
  text-align: center;
}

footer p {
  margin-top: 0px;
  margin-bottom: 0px;
}

#update {
  margin-bottom: 10px;
}

@media only screen and (min-width: 500px) {
  body {
    background-image: url(../images/site/small_check.jpg);
    position: relative;
    max-width: 760px;
    border: 5px solid #a6cbeb;
    margin: auto;
    border-radius: 15px;
  }

  #split {
    display: flex;
    flex-direction: row-reverse;
  }
}
