/* ******************************
*  Stylesheet for Screened Devices
*  Created by: Aaron Jones
*  
*  1.  Includes (fonts and supplementary stylesheets)
*  1.1 Normalize
*  1.2 Google fonts
*
*  2.  General Styles (for all pages and devices)
*
*  3.  Mobile First (styles specific to small screens)
*
*  4.  Large Screen Styles (Media Queries begin here)
*
* ****************************** */

/* 1.  Includes (fonts and supplementary stylesheets) */
/* 1.1 Normalize Import */
@import url("normalize.css");
/* 1.2 Google Font Import */
@import url("https://fonts.googleapis.com/css?family=Sansita");
/*2.   General Styles (for all pages and devices) */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.button1 {
  display: none;
}

body {
  font-family: "Quantico", sans-serif;
  padding: 0;
  margin: 0;
}

/*3.  Mobile First (styles specific to small screens) */

.title {
  font-size: 25px;
}

header img {
  padding: 5px;
}

header p {
  float: right;
  padding-right: 20px;
}

header p a {
  text-decoration: none;
  color: #3a3a3a;
}

header {
  background-color: white;
}

nav a {
  color: white;
  text-decoration: none;
}

header ul {
  display: flex;
  list-style: none;
  background-color: #3a3a3a;
  padding: 0;
  margin: 0;
}

header ul li {
  color: white;
  flex: 1 1 100%;
  text-decoration: none;
  padding: 10px;
  font-size: 14px;
}

nav a:hover {
  background-color: #4c96d7;
  color: #3a3a3a;
}

.topdiv {
  float: left;
  color: #4c96d7;
  margin-left: 30px;
  position: absolute;
}

.topdiv p,
.topdiv h2 {
  padding: 0;
  margin: 0;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

img.delorean {
  width: 100%;
  padding-top: 2%;
}

.button2 {
  background: #4c96d7;
  border-bottom-style: none;
  position: relative;
  width: 200px;
  height: 60px;
  font-size: 25px;
  left: 25%;
  margin-top: 35px;
}

.reviews ul {
  line-height: 2.6;
}

#upgrades ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
  padding-left: 0px;
}

#upgrades ul li {
  width: 50%;
  line-height: 12px;
}

#upgrades img {
  background-color: #4c96d7;
}

#fluxCap {
  padding: 0px 25% 3% 27%;
  height: 93%;
  width: 83%;
  float: left;
  margin-left: 5px;
}

#flames {
  padding: 0px 25% 3% 25%;
  height: 93%;
  width: 83%;
  margin-left: -37%;
}

#sticker {
  padding: 0px 25% 3% 27%;
  height: 93%;
  width: 83%;
  float: left;
  margin-left: 5px;
}

#hubCap {
  padding: 0px 25% 3% 25%;
  height: 93%;
  width: 83%;
  margin-left: -37%;
}

#upgrades div {
  text-decoration: underline;
  line-height: normal;
  font-size: 2vw;
}

#flux {
  float: left;
}

#fire {
  margin-bottom: 5%;
}

#hub {
  float: left;
  margin-bottom: 5%;
}

@media only screen and (min-width: 500px) {
  body {
    background-image: url(../images/site/small_check.jpg);
    position: relative;
    max-width: 760px;
    border: 5px solid #a6cbeb;
    margin: auto;
    border-radius: 15px;
  }

  #split {
    display: flex;
    flex-direction: row-reverse;
  }
}
