/* ******************************
*  Stylesheet for Screened Devices
*  Created by: Aaron Jones
*  
*  1.  Includes (fonts and supplementary stylesheets)
*  1.1 Normalize
*  1.2 Google fonts
*
*  2.  General Styles (for all pages and devices)
*
*  3.  Mobile First (styles specific to small screens)
*
*  4.  Large Screen Styles (Media Queries begin here)
*
* ****************************** */

/* 1.  Includes (fonts and supplementary stylesheets) */
/* 1.1 Normalize Import */
@import url("normalize.css");
/* 1.2 Google Font Import */
@import url("https://fonts.googleapis.com/css?family=Sansita");

/*2.   General Styles (for all pages and devices) */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.button1 {
  display: none;
}

body {
  font-family: "Quantico", sans-serif;
  padding: 0;
  margin: 0;
}

/*3.  Mobile First (styles specific to small screens) */

#wrapper {
  background-color: white;
}

#acc {
  color: #3a3a3a;
  text-decoration: none;
  font-size: 20px;
  position: absolute;
  top: 30px;
  right: 30px;
}

#logo {
  padding: 5px;
  height: 90px;
}

header p {
  float: right;
  padding-right: 20px;
}

header p a {
  text-decoration: none;
  color: #3a3a3a;
}

header {
  background-color: white;
}

#page_nav ul {
  list-style-type: none;
  margin: 0;
  padding-left: 20px;
  overflow: hidden;
  background-color: #3a3a3a;
}

#page_nav li {
  float: left;
}

#page_nav a {
  display: block;
  color: white;
  text-align: center;
  padding: 8px;
  text-decoration: none;
}

/* mouse over link */
#page_nav a:hover {
  background-color: white;
  color: black;
}

.topdiv {
  float: left;
  color: #0071d4;
  margin-left: 30px;
  position: absolute;
}

.topdiv p,
.topdiv h2 {
  padding: 0;
  margin: 0;
}

img.delorean {
  width: 100%;
  padding-top: 2%;
}

.button2 {
  background: #4c96d7;
  border-bottom-style: none;
  position: relative;
  width: 200px;
  height: 60px;
  font-size: 25px;
  left: 25%;
  margin-top: 35px;
}

#reviews ul {
  line-height: 2.6;
}

#upgrades ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0px;
  text-align: center;
}

#upgrades img {
  background-color: #4c96d7;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}

#upgrades ul li {
  width: 50%;
}

#fluxCap {
  padding: 3% 30% 8% 30%;
}

#flames {
  padding: 3% 30% 0% 30%;
}

#sticker {
  padding: 3% 30% 14% 30%;
}

#hubCap {
  padding: 3% 30% 10% 30%;
}

#upgrades div {
  text-decoration: underline;
  color: blue;
}

#flux {
  margin-bottom: 40px;
}

#line-break {
  border-top: 3px solid black;
  margin-top: 35px;
}

footer {
  text-align: center;
}

footer p {
  margin: 0px 15px 0px 15px;
}

#update {
  margin-bottom: 10px;
}

@media only screen and (min-width: 700px) {
  body {
    background-image: url(../images/site/small_check.jpg);
    position: relative;
    border: 5px solid #4c96d7;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    border-radius: 5px;
    margin-top: 2%;
  }

  #page_nav li {
    font-size: 20px;
  }

  h1.title {
    margin-left: 1%;
    margin-bottom: 0%;
  }

  .backer {
    position: absolute;
    background-color: #ffffff;
    padding: 100px;
    margin-left: 36px;
    opacity: 0.7;
  }

  .topdiv {
    margin-left: 55px;
    padding-top: 4%;
  }

  .topdiv p {
    font-size: 20px;
  }

  .button1 {
    display: block;
    background: #4c96d7;
    border: 1px solid black;
    width: 160px;
    height: 50px;
    font-size: 20px;
    margin-top: 30px;
  }

  img.delorean {
    padding-bottom: 7%;
    padding-top: 0%;
  }

  .button2 {
    display: none;
  }

  #split {
    display: flex;
    flex-direction: row-reverse;
  }

  #reviews {
    width: 50%;
    flex-wrap: wrap;
    align-content: flex-start;
  }

  #reviews h2 {
    margin-bottom: 5%;
    margin-left: 13%;
    margin-top: 0px;
  }

  #reviews ul {
    line-height: 3.3vw;
    font-size: 20px;
    margin-top: 0%;
    padding-left: 20%;
  }

  #upgrades {
    width: 50%;
  }

  #upgrades h2 {
    margin-top: 0px;
    margin-bottom: 7%;
    margin-left: 5%;
  }

  #upgrades ul {
    align-items: baseline;
  }

  #fluxCap {
    padding: 5% 33% 6% 33%;
    height: 50%;
    width: 90%;
    float: right;
  }

  #flames {
    padding: 5% 33% 0% 33%;
    height: 50%;
    width: 90%;
  }

  #sticker {
    padding: 5% 33% 10% 33%;
    height: 50%;
    width: 90%;
    float: right;
  }

  #hubCap {
    padding: 5% 33% 7% 33%;
    height: 50%;
    width: 90%;
  }

  footer p {
    font-size: 15px;
  }

  #update {
    margin-bottom: 0px;
    padding-bottom: 2%;
  }

}