/* ******************************
*  Stylesheet for Screened Devices
*  Created by: Aaron Jones
*  
*  1.  Includes (fonts and supplementary stylesheets)
*  1.1 Normalize
*  1.2 Google fonts
*
*  2.  General Styles (for all pages and devices)
*
*  3.  Mobile First (styles specific to small screens)
*
*  4.  Large Screen Styles (Media Queries begin here)
*
* ****************************** */

/* 1.  Includes (fonts and supplementary stylesheets) */
/* 1.1 Normalize Import */
@import url("normalize.css");
/* 1.2 Google Font Import */
@import url("https://fonts.googleapis.com/css?family=Sansita");

/*2.   General Styles (for all pages and devices) */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: "Quantico", sans-serif;
}

/*3.  Mobile First (styles specific to small screens) */

#wrapper {
    background-color: white;
    padding: 5px;
}

#login {
    color: #3a3a3a;
    text-decoration: none;
    font-size: 20px;
    position: absolute;
    top: 30px;
    right: 30px;
}

#User {
    color: #3a3a3a;
    text-decoration: none;
    font-size: 20px;
    position: absolute;
    top: 30px;
    right: 100px;
}

#logout {
    color: #3a3a3a;
    text-decoration: none;
    font-size: 1.3rem;
    position: absolute;
    top: 30px;
    right: 30px;
}

#logo {
    padding-bottom: 10px;
}

header p {
    float: right;
    padding-right: 20px;
}

header p a {
    text-decoration: none;
    color: #3a3a3a;
}

header {
    background-color: white;
}

#page_nav ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0px;
    overflow: hidden;
    background-color: #3a3a3a;
}

#page_nav li {
    float: left;
}

#page_nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 8px 8px 8px 5px;
    text-decoration: none;
}

/* mouse over link */
#page_nav a:hover {
    background-color: white;
    color: #3a3a3a;
}

#content {
    font-size: 20px;
    font-weight: bold;
}

/* .split .left {
    font-size: 25px;
    font-weight: 600;
} */

.split {
    display: flex;
    flex-direction: column;
}

.split .left {
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: -14%;
}

.middle img {
    width: 90%;
}

.split .right {
    font-weight: 600;
}

.right ul {
    list-style-type: none;
    padding-left: 0px;
    padding-bottom: 50px;
}

.right li {
    padding: 20px;
}

.right .shade1 {
    background-color: #f1f0f1;
}

.right .shade2 {
    background-color: #f4f3f4;
}

#line-break {
    border-top: 3px solid black;
    /* margin-top: 0px; */
    margin-top: 75px;
}

footer {
    text-align: center;
}

footer p {
    margin: 0px 15px 0px 15px;
}

#update {
    margin-bottom: 10px;
}

/*4.  Large Screen Styles (Media Queries begin here) */
@media only screen and (min-width: 700px) {
    body {
        background-image: url(../images/site/small_check.jpg);
        position: relative;
        border: 5px solid #4c96d7;
        margin-left: auto;
        margin-right: auto;
        width: 75%;
        border-radius: 5px;
        margin-top: 2%;
    }

    #wrapper {
        padding: 10px;
    }

    #page_nav li {
        font-size: 20px;
    }

    #page_nav a {
        padding: 8px 8px 8px 20px;
    }

    #content {
        font-size: 3vw;
        margin-bottom: 5%;
        margin-top: 4%;
    }

    .split {
        display: flex;
        padding-bottom: 40px;
    }

    .split .left {
        width: 50%;
    }

    .split .right {
        width: 50%;
        font-size: 20px;
    }

    .right ul {
        padding-bottom: 0px;
    }

    footer p {
        font-size: 15px;
    }

    #update {
        margin-bottom: 0px;
        padding-bottom: 2%;
    }

}